.main {
  border: 1px solid red;
  height: 100vh;
}

.palito {
  border: 1px solid black;
  width: 20px;
  height: 170px;
  background-color: black;
  margin: 0 auto;
}

.contenedor-semaforo {
  border: 1px solid black;
  width: 170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 25px;
}

.contenedor-semaforo div {
  border: 1px solid black;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px;
}

.red {
  background-color: red;
  cursor: pointer;
}

.yellow {
  background-color: yellow;
  cursor: pointer;
}

.green {
  background-color: green;
  cursor: pointer;
}

.light-on {
  box-shadow: 0 0 50px 20px rgb(219, 241, 190);
}